.button {
    width: 100%;
    text-align:center;
    border: 1px solid aqua;
    border-radius: 3px;
    font-size: xx-large;
    padding: 3px;
    height: 25px;
    background-color: aqua;
}

.buttonOpacity {
    opacity: 0.3;
}